{% extends "flowstands/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Редагувати: {{ user.get_full_name|default:user.username }}{% endblock meta_title %}

{% block title %}Редагувати: {{ user.username }}{% endblock title %}

{% block status_message %}
	{% if form.errors %}
		<div class="alert alert-danger">Будь-ласка виправте всі помилки</div>
	{% endif %}
{% endblock status_message %}

{% block content %}

<div class="col-xs-8 add_form">
	{% crispy form %}
</div>

{% endblock content %}