{% extends "flowstands/base.html" %}

{% block meta_title %}{{ user.get_full_name|default:user.username }}{% endblock meta_title %}

{% block title %}{{ user.get_full_name|default:user.username }}{% endblock title %}


{% block content %}
<div class="col-xs-12">
<div class="col-xs-8"><p>Профіль | <a href="{% url "profile_edit" user.id %}">Редагувати</a> </p></div>

	<table class="table table-striped">
		{% if user.email %}
		<tr>
			<td>Нікнейм:</td>
			<td>{{user.username}}</td>
		</tr>
		{% endif %}
		{% if user.email %}
		<tr>
			<td>Ваш Е-мейл:</td>
			<td>{{user.email}}</td>
		</tr>
		{% endif %}
		{% if user.date_joined %}
		<tr>
			<td>Дата приєднання:</td>
			<td>{{user.date_joined}}</td>
		</tr>
		{% endif %}

	</table>
</div>

{% endblock content %}