{% extends "flowstands/base.html" %}

{% load static from staticfiles %}

{% load digg_paginate %}

{% block meta_title %}Еталони витрати газу{% endblock meta_title %}

{% block title %}Власники{% endblock title %}

{% block content %}
			
<!-- Start Customers Listing -->
<table class="table table-hover table-striped table-condensed">
	<thead>
		<tr>
			<th width="5%">№</th>
			<th width="15%">Область</th>
			<th width="25%">Назва</th>
			<th width="35%">Адреса</th>
			<th width="20%">Контакти</th>

	</thead>
						
						
<!--Тіло таблиці списку споживачів-->						
	<tbody>
		{% for customer in customers %} <!-- Наповнення таблиці циклом -->
		<tr>
			<td>{{ forloop.counter0|add:customers.start_index }}</td>
			<td>{{ customer.region }}</td>
			<td> {{ customer.name }}</td>
			<td>{{ customer.address }}</td>
			<td>{{ customer.contacts }}</br>{{ customer.email }}</td>
		</tr>
		{% endfor %}
	
	</tbody>
					
</table>
						
					<!-- End Content Columns -->

					
<!-- Pagination -->


{% if customers.has_other_pages %}

<nav>
	<ul class="pagination">
		<li class="arrow">
			{% if customers.has_previous %}
				<a href="{% url "customers" %}?page={{ customers.previous_page_number }}">
					&laquo;
				</a>
			{% else %}
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
			{% endif %}
		</li>
		{% for page_number in customers.paginator.page_range %}
		
				{% if customers.number > 4 and page_number < customers.number|subtract:3 %}
						{# nothing to show #}
				{% elif customers.number > 4 and page_number == customers.number|subtract:3 %}
						{# show '...' #}
					<li class="disabled">
						<a href="#">...</a>
					</li>
			
				{% elif customers.number < customers.paginator.num_pages|subtract:4 and page_number > customers.number|add:3 %}
					{# nothing to show #}
				{% elif customers.number < customers.paginator.num_pages|subtract:4 and page_number == customers.number|add:3 %}
					{# show '...' #}
					<li class="disabled">
						<a href="#">...</a>
					</li>
				{% else %}
					{# show the page number as normal #}
					<li {% if customers.number == page_number %}class="active"{% endif %}>
						<a href="{% url "customers" %}?page={{ page_number }}"> {{ page_number }} </a>
					</li>
		{% endif %}
		{% endfor %}
		<li class="arrow">
			{% if customers.has_next %}
				<a href="{% url "customers" %}?page={{ customers.next_page_number }}">
					&raquo;
				</a>
			{% else %}
				<li class="arrow unavailable"><a href="">&raquo;</a></li>
			{% endif %}
			</li>
		</ul>
</nav>
{% endif %}

	<!-- End of Pagination-->

{% endblock content %}				

