{% extends "flowstands/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}База еталонів{% endblock meta_title %}

{% block title %}Робочі еталони{% endblock title %}

	{% block content %}
			

			<!-- Start Flow Standards Listing -->
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th width="3%">№</th>
						<th width="20%">Область</th>
						<th width="25%">Власник</th>
						<th width="10%">Назва</th>
						<th width="10%">Діапазон</th>
						<th width="12%">Зав. номер</th>
						<th width="15%">Дата калібрування</th>
					</tr>
				</thead>
										
				<!--Тіло таблиці списку еталонів-->						
				<tbody>
				{% for flowstand in flowstands %} <!-- Наповнення таблиці циклом -->
					<tr>
					
						<td>
						
							{{ forloop.counter0|add:flowstands.start_index }}
										
						</td>
						<td>{{ flowstand.region }}</td>
						<td>{{ flowstand.customer }} </td>
						<td><a href="{% url "flowstand_view" flowstand.id %}"class="flowstand_show-link">
							{{ flowstand.name }}</td>
						<td>{{ flowstand.flow_range }}</td>
						<td>{{ flowstand.serial_number }}</td>
						<td>{{ flowstand.date_calibr }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

	<!-- End Content Columns -->	

	<!-- Pagination -->
<div id="pager_and_count ">
    {% with object_list=flowstands %}
        {% include "flowstands/pagination.html" %}
    {% endwith %}
<p><b>Загальна кількість еталонів у базі:  <span id="count">{{ count}}<span></b></p>
<p><b>станом на {{ today }}</b></p>

</div>
	<!-- End of Pagination-->
	{% endblock content %}

	
