{% extends "flowstands/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Еталони витрати газу{% endblock meta_title %}

{% block title %}Виробники{% endblock title %}

{% block content %}
		{% block selector %}
		{% endblock selector%}	
		
			
	<!-- Start Customers Listing -->
<table class="table table-hover table-striped table-condensed">
	<thead>
		<tr>
			<th width="5%">№</th>
			<th width="50%">Назва</th>
			<th width="45%">Адреса</th>
			

	</thead>
						
						
<!--Тіло таблиці списку споживачів-->						
	<tbody>
		{% for manufactor in manufactors %} <!-- Наповнення таблиці циклом -->
		<tr>
			<td>{% if is_paginated %}
					{{ page_obj.start_index|add:forloop.counter0 }}
				{% else %}
					{{ forloop.counter }}
				{% endif %}</td>
			<td> {{ manufactor.name }}</td>
			<td>{{ manufactor.address }}</td>
			
		</tr>
		{% endfor %}
	
	</tbody>
					
</table>

<!-- End Content Columns -->
<!-- Pagination -->
					{% with object_list=manufactors %}
						{% include "flowstands/pagination.html" %}
					{% endwith %}
<!-- End of Pagination-->
{% endblock content %}
