{% if is_paginated %}

		<ul class="pagination">
			<li>
				{% if object_list.has_previous %}
					<a href="?page={{ object_list.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">
							&laquo;
					</a>
				{% else %}
					<li><span>&laquo;</span></li>
				{% endif %}
			</li>
				{% for i in page_range %}
					{% if i == DOT %}
						<li><span>...</span></li>
					{% elif i == object_list.number %}
						<li class="active"><span>{{ i }}</span></li>
					{% else %}
						<li>
							<a href="?page={{ i }}{% if q %}&q={{ q }}{% endif %}">
								{{ i }}
							</a>
						</li>
					{% endif%}
				{% endfor %}
			<li>
				{% if object_list.has_next %}
					<a href="?page={{ object_list.next_page_number }}{% if q %}&q={{ q }}{% endif %}">
						&raquo;
					</a>
				{% else %}
					<li><span>&raquo;</span></li>
				{% endif %}
			</li>
		</ul>

{% endif %}